
.menu
{
    display: contents;
    color: rgb(0, 0, 0);  
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    align-content: flex-start;
    vertical-align: middle;
    padding-bottom: 10px;
    text-decoration: none;
    
}

header
{
    background-color: rgba(20,20,20);  
    height: 70px; 
    position: fixed;
    margin-top: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: left;
    vertical-align: middle;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

body
{
    background-color: black;
    z-index: 1;
}

.logo
{
    vertical-align: middle;
    padding-left: 20px;
    padding-top: 10px;
    align-items: center;
}

a:link, a, a:visited, a:active
{
    text-decoration: none;
    color: #ffffff;
    transition: color 0.4s;
    font-size: 18px;
}

a:hover
{
    color: #fb00c5;
}

.str
{
    display: flex;
    padding-left: 70px;
    padding-bottom: 20px;
}

.end
{
    display: flex;
    padding-right: 70px;
    margin-bottom: 20px;
}

.title
{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 125px;
    padding-top: 200px;
    margin-bottom: 35px;
    text-align: center;
    -webkit-animation: fadein 1.7s;
    background: -webkit-linear-gradient(45deg,#7303c0 20%,#fb00c5 40%,#4400ea 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.footer
{
    display: flex;
    flex-direction: row;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    justify-content: space-around;
    font-size: 130%;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    /*bottom: 0px;
    left: 0px;
    right: 0;*/
    height: 160px;
    position: static;
    width: 100%;
}

h3
{
    text-align: center;
}

.name
{
    padding-top: 80px;
}

.link:hover
{
    transition: 0.2s;
    color: rgb(251,0,197);
}
.dove,.chi
{
    padding-left: 70px;
}

.motto
{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 23px;
    -webkit-animation: fadein 1.7s;
}

.orcodio
{
    color: rgba(0, 0, 0,0.0);
    animation: animate 5s linear infinite;
}

@keyframes animate
{
   

    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: rgba(112, 14, 91,0.1);
        text-shadow: none;
    }

    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: white;
        text-shadow: 0 0 10px rgb(251,0,197),
        0 0 20px rgb(251,0,197),
        0 0 40px rgb(251,0,197),
        0 0 80px rgb(251,0,197),
        0 0 160px rgb(251,0,197);
    }
    
    
    
    /*
    18.1%
    {
        color: white;
        text-shadow: 0 0 10px rgb(251,0,197),
        0 0 20px rgb(251,0,197),
        0 0 40px rgb(251,0,197),
        0 0 80px rgb(251,0,197),
        0 0 160px rgb(251,0,197);
    }
    20.1%
    {
        color: white;
        text-shadow: 0 0 10px rgb(251, 0, 33),
        0 0 20px rgb(251,0,33),
        0 0 40px rgb(251,0,33),
        0 0 80px rgb(251,0,33),
        0 0 160px rgb(251,0,33);
    }
    30%
    {
        color: white;
        text-shadow: 0 0 10px rgb(251, 113, 0),
        0 0 20px rgb(251, 113, 0),
        0 0 40px rgb(251, 113, 0),
        0 0 80px rgb(251, 113, 0),
        0 0 160px rgb(251, 113, 0);
    }
    50%
    {
        color: white;
        text-shadow: 0 0 10px rgb(251, 226, 0),
        0 0 20px rgb(251, 226, 0),
        0 0 40px rgb(251, 226, 0),
        0 0 80px rgb(251, 226, 0),
        0 0 160px rgb(251, 226, 0);
    }
    60.1%
    {
        color: white;
        text-shadow: 0 0 10px rgb(113, 251, 0),
        0 0 20px rgb(113, 251, 0),
        0 0 40px rgb(113, 251, 0),
        0 0 80px rgb(113, 251, 0),
        0 0 160px rgb(113, 251, 0);
    }
    65%
    {
        color: white;
        text-shadow: 0 0 10px rgb(0, 251, 146),
        0 0 20px rgb(0, 251, 146),
        0 0 40px rgb(0, 251, 146),
        0 0 80px rgb(0, 251, 146),
        0 0 160px rgb(0, 251, 146);
    }
    80.1%
    {
        color: white;
        text-shadow: 0 0 10px rgb(0, 251, 238),
        0 0 20px rgb(0, 251, 238),
        0 0 40px rgb(0, 251, 238),
        0 0 80px rgb(0, 251, 238),
        0 0 160px rgb(0, 251, 238);
    }
    90%
    {
        color: white;
        text-shadow: 0 0 10px rgb(0, 138, 251),
        0 0 20px rgb(0, 138, 251),
        0 0 40px rgb(0, 138, 251),
        0 0 80px rgb(0, 138, 251),
        0 0 160px rgb(0, 138, 251);
    }
    92.1%
    {
        color: white;
        text-shadow: 0 0 10px rgb(0, 17, 251),
        0 0 20px rgb(0, 17, 251),
        0 0 40px rgb(0, 17, 251),
        0 0 80px rgb(0, 17, 251),
        0 0 160px rgb(0, 17, 251);
    }
    100%
    {
        color: white;
        text-shadow: 0 0 10px rgb(138, 0, 251),
        0 0 20px rgb(138,0,251),
        0 0 40px rgb(138,0,251),
        0 0 80px rgb(138,0,251),
        0 0 160px rgb(138,0,251);
    }
    */  
}

.buttonhome
{
    margin-top: 30px;
    width: 200px;
    height: 45px;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    vertical-align: middle;
    background: linear-gradient(180deg, black, rgb(7, 7, 7));
    transition: border-color 0.7s;
}

.buttonhome:hover
{
    border-color: rgb(224, 26, 224);

}

.space
{
    width: 50px;
}

.spasio
{
    height: 160px;
}

.abuttonenv
{
    padding-top: 5px;
    height: 20px;
    width: 105.5px;

}

.abuttonfiv
{
    width: 75px;
    height: 20px;
    padding-top: 4px;
}

.link
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 160px;
}

.mailbutton
{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border-style: hidden;
    border-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.7s;
    transition: color 0.7s;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: bolder;   
}

.mailbutton:hover
{
    color: rgb(251,0,197);
}

.tessera
{
    display: flex;
    flex-direction: row;
}

.instabug
{
    padding-left: 35px;
    padding-top: 3px;
}

td
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

tr
{
    display: flex;
}

.michimg,.hanimg
{
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.popimg
{
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

.manimg
{
    border-radius: 100%;
    width: 65px;
    height: 65px;
}

.hanimg
{
    border-radius: 100%;
    width: 60px;
    height: 60px;
    padding-left: 15px;
}

